/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.v-line {
  height: 100vh;
  width: 1px;
  background-color: #fff;
  position: absolute;
  top: 0;
}
.h-line {
  width: 100vw;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.h-line p {
  position: absolute;
  top: -27px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2px 6px;
  border-radius: 50px;
}
.v-line p {
  position: absolute;
  left: -17px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2px 6px;
  border-radius: 50px;
}

.h-1-3 {
  top: calc(33.333% - 0.5px);
}
.h-2-3 {
  top: calc(66.666% - 0.5px);
}
.h-1-2 {
  top: calc(50% - 0.5px);
}

.v-1-4 {
  left: calc(25% - 0.5px);
}
.v-3-4 {
  left: calc(75% - 0.5px);
}
.v-1-3 {
  left: calc(33.333% - 0.5px);
}
.v-1-2 {
  left: calc(50% - 0.5px);
}
.v-2-3 {
  left: calc(66.666% - 0.5px);
}
.show-boxes {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  transition: all ease-in 0.3s;
}
.show-boxes label {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 3px;
  margin-left: 3px;
  border-radius: 3px;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow:
    0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
